.header {
  width: 100%;
  height: 70%;
  position: relative;
  background: url('src/assets/seattleskyline.jpeg');
  /* This background will need to be updated based on card selected */
  border-radius: 20px 20px 0 0;
  filter: drop-shadow(1px 3.214px 3.214px rgba(0, 0, 0, 0.25));
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.pin {
  width: 153.768px;
  height: 42.093px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14.935px;
  font-weight: 400;
}
