.logo-cube-container {
  width: 299.662px;
  height: 230.209px;
  flex-shrink: 0;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  filter: drop-shadow(1px 3.214px 3.214px rgba(0, 0, 0, 0.25));

  background: linear-gradient(
      278deg,
      rgba(51, 144, 52, 0.76) 0%,
      rgba(51, 144, 52, 0.76) 100%
    ),
    url('src/assets/Rectangle80.png');
}

.logo-text {
  color: #fff;
  font-size: 32.504px;
  font-style: italic;
  font-weight: 700;
  margin-right: -35px;
}

.logo-background {
  display: flex;
  align-items: flex-end;
}

#logo {
  background-color: white;
  width: 112.156px;
  height: 112.156px;
  flex-shrink: 0;
  border-radius: 100px;
}
