.result-container {
  width: 392.58px;
  height: 426.941px;
  flex-shrink: 0;
  margin: 10px;
}

.header {
  width: 100%;
  height: 70%;
  background: url('src/assets/seattleskyline.jpeg');
  /* This background will need to be updated based on card selected */
  border-radius: 20px 20px 0 0;
  filter: drop-shadow(1px 3.214px 3.214px rgba(0, 0, 0, 0.25));
  /* The drop shadow is strange and needs to be looked at */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer {
  width: 100%;
  height: 30%;
  z-index: 1;
  border-radius: 0 0 20px 20px;
  filter: drop-shadow(1px 3.214px 3.214px rgba(0, 0, 0, 0.25));
  clip-path: polygon(
    /* bottom left */ 0% 100%,
    /* top left */ 0% 0%,
    /* first curve point */ 12.5% 5%,
    /* first curve point */ 25% 10%,
    /* middle top */ 50% 13%,
    /* first curve point */ 75% 10%,
    /* first curve point */ 87.5% 5%,
    /* right top */ 100% 0%,
    /* bottom right */ 100% 100%
  );

  background: linear-gradient(
      278deg,
      rgba(51, 144, 52, 0.76) 0%,
      rgba(51, 144, 52, 0.76) 100%
    ),
    url('src/assets/citycartooncropped.png');
  background-size: cover;
  background-position: center;
  margin-top: -50px;
  display: flex;
  justify-content: flex-end;
}
